
.contact {
    margin-left: 50px;
    padding-top: 100px;
    width: 75%;
}


#facebook {
    height: 30px;
    width: 30px;
}

#linkedin {
    height: 30px;
    width: 30px;
}


.port-pics {
    height: 360px;
    width: 240px;
    padding: 10px;
}
