main {
  border: $b-test;
  img {
    border: 5px solid $text-color;
    border-radius: 10px;
    height: 200px;
    width: 280px;
  }
  img:hover {
    border: 5px solid black;
  }

  margin: 5rem auto;
  width: 90%;
}
