@import "navbar";
@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $main-font;
  margin: auto;
  max-width: 1100px;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  text-decoration: underline;
  color: black;
}

main {
  img {
    border: 5px solid $text-color;
    border-radius: 10px;
    height: 200px;
    width: 280px;
  }
  img:hover {
    border: 5px solid black;
  }
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
}
